.header {
font-family: 'Dancing Script', cursive;
  font-size:40px;
  font-weight: bold;
  text-align: center;
  background-color: #D9A6A1;
}

.body {
  background-color: #E5D9D3;
}

.header-2 {
  background-color: #F3D1C8;
  font-family: 'Raleway', sans-serif;
  font-size:20px;
  text-align: center;
}

.header-3 {
  background-color: #F3D1C8;
  font-family: 'Raleway', sans-serif;
  font-size:20px;
  text-align: center;
}

.button {
  font-family: 'Raleway', sans-serif;
  font-size:20px;
  border-radius:8px;
  padding-top: 1px;
  padding-bottom:1px;
  text-align: center;
  background-color:  #F3D1C8;
}

.buttons {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:center;
  align-items:flex-end;
  margin:10px;
  justify-content:space-evenly;
  font-family: 'Raleway', sans-serif;
}

.button:hover {
 border: 1px #D9A6A1 dotted;
}

.button.click {
  border-color: #D9A6A1;
}

.box:hover {
    border: 1px #D9A6A1 dotted;
}
.box:click {
  border-color: #D9A6A1;
}  


.form {
  font-family: 'Raleway', sans-serif;
  font-size:20px;
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius:8px;
  padding-top: 1px;
  padding-bottom:1px;

}

.box {
  width:60%;
  height:25px;
  border-radius:10px;
}

.template {
  position:absolute;
  text-align:center;
  height:70%;
  background-repeat:no-repeat;
  background-size: contain;
  background-position:center;
  width:90%;
  justify-content: center;
  margin-top: 30px;
  border:solid #D9A6A1;
  margin-bottom:200px;
}

.springText {
 font-family: 'Merienda', cursive;
 font-size:20px;
 text-align:center;
 padding-top:5px;

}

.formalText {
 font-family: 'Great Vibes', cursive;
 font-size:20px;
 padding-top:5px;
 text-align:center;

}

.artDecoText {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  padding-top:5px;
  text-align:center;
}

@media (min-width:768px) {
  .container {
  background-color: #E5D9D3;
  /*display:flex;*/
  /*flex-direction:row;*/
}

.header {
font-family: 'Dancing Script', cursive;
  font-size:50px;
  font-weight: bold;
  text-align: center;
  background-color: #D9A6A1;
}


.button {
  font-family: Montserrat;
  font-size:20px;
  border-radius:8px;
  padding-top: 1px;
  padding-bottom:1px;
  text-align: center;
  background-color:  #F3D1C8;
}

.buttons {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:center;
  align-items:flex-end;
  margin:10px;
  justify-content:center;
  padding:10px;
}


.form {
    flex-basis: 50%;
   font-family: 'Raleway', sans-serif;
    font-size:20px;
}

.box {
  width:50%;
  height:25px;
  border-radius:10px;
}

.box:hover {
    border: 5px #A5929D dotted;
}

.desktop {

  display:grid;
  grid-template-columns: repeat(2, 33.3%); 
  grid-template-rows:700px;
  /*grid-auto-rows:100px;*/
  justify-content:center;
  align-items:center;
  margin:10px auto;
  height:1000px;
  grid-template-areas: 
  "template"
  "form";
  border: 5px #f7f7fc solid;
}


.child-2 {
  width:50%;
  height:100%;

}

#templateChange {
  position:absolute;
  text-align:center;
  height: 90%;
  background-repeat: no-repeat;
  background-size: 500px;
  background-position:center;
  width: 45%;
}
  

.container {
  background-color: #E5D9D3;
  display:flex;
  flex-direction:row;
}

}


.springText {
 font-family: 'Merienda', cursive;
 font-size:20px;
 text-align:center;
 padding-top:180px;

}

.formalText {
 font-family: 'Great Vibes', cursive;
 font-size:20px;
 padding-top:180px;
 text-align:center;

}

.artDecoText {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  padding-top:150px;
  text-align:center;
}

